# Ignore data directory
data/
training_data.csv
training_data_clean.csv

# Ignore python artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
env/
venv/
*.pkl
!models/drowsiness_model.pkl

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore local config
.vscode/
.idea/
